{% extends 'base.html' %}
{% block content %}

      {% csrf_token %}
      <input type="hidden" name="idcheckyn" id="idcheckyn" value="N" >
      <div class="container mt-5">
    
        <div class="mb-3 mt-3">
          <label for="title" class="form-label">사용자아이디:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="중복체크" name="userid"  id="userid">
            <button class="btn btn-success" type="button" id="btnIdCheck">중복체크</button>
          </div>
        </div>

        <div class="mb-3 mt-3">
          <label for="password" class="form-label">패스워드:</label>
          <input type="text" class="form-control" id="password" placeholder="Enter password" name="password" required>
        </div>
        
        <div class="mb-3 mt-3">
          <label for="password2" class="form-label">패스워드확인:</label>
          <input type="text" class="form-control" id="password2" placeholder="Enter password" name="password2" required>
        </div>

        <div class="mb-3 mt-3">
          <label for="username" class="form-label">사용자명:</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
        </div>             
      </div>

    <div class="container mt-5" style="text-align:right"> 
        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="btnWrite">등록</button>
        </div>
    </div>


<script>
function goPage(pg)
{
  location.href="/board/list2/"+pg;
}

$(document).ready( ()=>{
    $("#btnIdCheck").click( ()=>{
      csrf = $("input[type=hidden][name=csrfmiddlewaretoken]").val();
      $.ajax({
        url:"/member/idcheck",
        data:{"userid":$("#userid").val(), "csrfmiddlewaretoken":csrf}, 
        type:"post",
        dataType:"json"
      })
      .done( (res)=>{
          console.log( res );
          if( res.result=='success')
          {
            alert("사용가능한 아이디입니다");
            $("#idcheckyn").val("Y");
            $("#userid").prop("readonly", true); //읽기전용 
          }
          else
          {
            alert("이미 사용중인 아이디입니다");
          }
      })
      .fail((res, error, status)=>{
        console.log(status);
      })
    });

    $("#btnWrite").click(()=>{
      csrf = $("input[type=hidden][name=csrfmiddlewaretoken]").val();
      console.log( csrf );
      $.ajax({
        url:"/member/save",
        data:{
            "userid":$("#userid").val(), 
            "csrfmiddlewaretoken":csrf,
            "password":$("#password").val(),
            "username":$("#username").val(),
          }, 
        type:"post",
        dataType:"json"
      })
      .done( (res)=>{
          if( res.result=="success")
          {
            alert("등록성공");
          }
          else 
          {
            alert("등록실패");
          }
      })
      .fail( (res, error, status)=>{
          console.log(status)
      })
    });
}) 
</script>
{%endblock%}